# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.eas/

# env files (PROTEJA SEUS SEGREDOS AQUI)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Native
/ios
/android
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug & logs
npm-debug.*
yarn-debug.*
yarn-error.*
logs
*.log

# macOS
.DS_Store
*.pem

# typescript
*.tsbuildinfo

# Editor folders
.vscode/
.idea/